{% trans_default_domain 'admin' %}

{% if 'banner'|moduleActive(allModules) %}
    {% set uri = app.request.uri %}
    {% set active = '/banners/' in uri %}
    {% set module = 'banner'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['banner'][app.user.locale] is defined ? i18nsModules['banner'][app.user.locale] : (i18nsModules['banner']['fr'] is defined ? i18nsModules['banner']['fr'] : null) %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : (i18nsModules['banner']['entity'].adminName is defined ? i18nsModules['banner']['entity'].adminName : 'Bannières publicitaires'|trans) %}
    {% set icon = i18nsModules['banner']['entity'].iconClass is defined and i18nsModules['banner']['entity'].iconClass ? i18nsModules['banner']['entity'].iconClass : '/medias/icons/light/images.svg' %}
    <li{% if active %} class="active"{% endif %}>
        <a class="has-arrow{% if active %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ icon|icon(17, 15, 'white me-3'}) }}{{ title|raw }}
        </a>
        <ul aria-expanded="false" class="collapse{% if pageTag == 'banners' %} in{% endif %}">
            <li>
                <a href="{{ path('admin_banner_index', {"website": websiteId}) }}" data-toggle="preloader">{{ "Liste des bannières publicitaires"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_bannercategory_index', {"website": websiteId}) }}"{% if '/banners/categories/' in uri %} class="active"{% endif %} data-toggle="preloader">{{ "Liste des catégories"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_bannersize_index', {"website": websiteId}) }}"{% if '/banners/sizes/' in uri %} class="active"{% endif %} data-toggle="preloader">{{ "Configuration des tailles"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_bannerteaser_index', {"website": websiteId}) }}"{% if '/banners/teasers/' in uri %} class="active"{% endif %} data-toggle="preloader">{{ "Configuration des teaser"|trans }}</a>
            </li>
        </ul>
    </li>
{% endif %}